@import url("./rainbow.css");
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.media-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.media-container:hover {
    transform: scale(1.05);
}

.media-container video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
}
.media-container img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}

.popup-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}

.popup-content img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.like-button {
    position: absolute;
    bottom: 480px;
    right: 5px;
    padding: 5px 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.saved-button {
    position: absolute;
    bottom: 480px;
    right: 50px;
    padding: 5px 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}

.menu {
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1000;
}

.menu select {
    padding: 8px;
    font-size: 16px;
}

.altcategory {
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: 10px;
    left: 250px;
    z-index: 1000;
}

.altcategory select {
    border-radius: 20px;
    padding: 8px;
    font-size: 16px;
}

.rainbow {
    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 25s infinite;

    /* Internet Explorer */
    -ms-animation: rainbow 25s infinite;

    /* Standar Syntax */
    animation: rainbow 25s infinite;
}

.settings-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.settings-menu button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.settings-menu button i {
    color: aqua;
    font-size: 30px;
}

/* Modal stilleri */
.settingsmodal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.settingsmodal-content {
    background-color: rgba(40, 16, 126, 0.801);
    border-radius: 10px;
    padding: 20px;
}

.settingsmodal-content h2 {
    color: #ff0000;
}
.settingsmodal-content h3 {
    color: chocolate;
}

.settingsmodal-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.settingsmodal-content button:hover {
    background-color: #0056b3;
}

.close-btn {
    position: absolute;
    cursor: pointer;
    color: #ff0000;
    font-size: 24px;
}
